body {
    font-family: 'Inconsolata', monospace;    
}
.index {
    width: 100vw;
    height: 100vh;
}
.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    background: url('/img/linuxServer.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}