<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/equiposTelco" class="navbar-brand">
            Camora28@
        </a>
        <ul>
            <li>
                <a href="/equiposTelco/add">equiposTelco</a>
            </li>
             <li>
                <a href="/equiposTelco/edit">editar</a>
            </li>    

        </ul>    

    </div>
</nav>